* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}
body{
    height: 100vh;
    background-color: #000;
    background-size: cover;
    background-position: center;
}
.nav{
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(18, 13, 60, 0.65),rgba(96, 22, 22, 0.65)), url(images/background.jpg);
    background-size:cover ;
    background-position: center;
    padding: 10px 2%;
    background-image:  fixed;
}
nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}
.logo{
    width: 180px;
    cursor: pointer;
    
}
nav ul{
    list-style: none;
    width: 100%;
    text-align: right;
    padding-right: 40px;
}
nav ul li{
    display: inline-block;
    margin: 10px 20px;
}
nav ul li a{
    color: #fff;
    text-decoration: none; 
      
}
nav ul li a:hover{
    color: #5aa731;
}
nav ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #5aa731;
    display: block;
    margin: auto;
    margin-left: 2px;
    transition: 0.5s;
    font-size: large;
}
nav ul li:hover::after{
    width: 100%;
}
.btn{
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border: 0;
    outline: 0;
    border-radius: 9px;
    background: #5aa731;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
    
    

}
.btn:hover{
    scale: 1.05;
    transition: 0.3s;
}
.btn img{
    width: 20px;
    margin-right: 10px;
}
.btn1 i{
    width: 20px;
    margin-right: 10px;
    color: #5aa731;
}

.header-content{
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    color: #fff;
    text-align: center;
    position: relative;
    left: 5px;
    right: 350px;
    background: rgba(144, 144, 144, 0.3); 
    backdrop-filter: blur(6px); 
    border-radius: 25px;
    padding: 20px;
   
} 
.header-content h1{
    font-size: 70px;
    font-weight: 500;
    line-height: 85px;
    margin-bottom: 25px;
}
.header-content form{
    display: flex;
    background: #fff;
    border-radius: 9px;
    padding: 15px 10px;
    margin-top: 30px;
    background-color: #121212;
    border: none;
    
}
.toggle{
    display: none;
    position: absolute;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
    right: 1rem;
    top: 0.5rem;

}
/*Dropdown menu*/
.dropdown{
    display: none;
    position: absolute;
    right: 1.1rem;
    top: 40px;
    height: 0;
    width: 300px;
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);

}
.dropdown.open{
    height: 300px;
}
.dropdown li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dropdown button{
    width: 100%;
    display: flex;
    justify-content: center;
}

/*Responsive query*/
@media screen and (max-width: 768px) {
    .nav  {
      width: 100%; 
      
    }
    .nav img,
    .nav ul li,
    .nav .btn{
        display: none;
    }
    .toggle{
        display: block;
    }
    .dropdown, 
    .dropdown .btn{
        display: block;
        left: 2rem;
        width: 90%;
        z-index: 9999;
        
    }
    .dropdown li a{
        color: #fff;
        text-decoration: none; 

    }
    .dropdown li a:hover{
        color:  #5aa731;
    }
    .dropdown li a::after{
        content: '';
        width: 0%;
        height: 2px;
        background: #5aa731;
        display: block;
        margin: auto;
        margin-left: 2px;
        transition: 0.5s;
        font-size: large;
    }
    .dropdown li a:hover::after{
        width: 100%;
    }
  }



/* activities section */
.activities {
    width: 100%;
    text-align: center;
    color: #1D3557;
    padding: 1em 0 4em 0;
}

.activities h1 {
    padding: 1em 0 0 0;
}

.card {
    max-width: 300px;
}

.card img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: 1em;
}

.card h2 {
    margin: 1em 0;
}

.theatre {
    display: flex;
    justify-content: space-around;
    margin-top: 3em;
}

/* guide section */
.guide {
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.guide--card {
    padding: 1em;
    margin: 0 auto;
    width: 700px;
    color: #1D3557;
    display: flex;
    margin: 0 auto;
    background-color: #b88f8f;
    border-radius: 20px;
}

.profile-pic {
    background-image: url('images/profile.jpg');
    width: 280px;
    height: 248.67px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

.guide--card img {
    width: 400px;
    height: 300px;
    object-fit: cover;
}

.guide--desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
}

.guide--desc h2 {
    margin-top: 1em;
    font-family: 'Kanit', sans-serif;
    font-style: Bold;
    font-size: 24px;
    font-size: Arial;
    font-style: Bold;
    font-size: 24px;
    line-height: 100%;
}

.guide--desc p{
    padding-top: 1em;
    text-align: center;
}

.guide--desc h4{
    padding: 1em 0;
}

@media screen and (max-width:768px) {
    /* hero section */
    .hero--title {
        font-size: 16px;
    }
    .hero--desc{
        font-size: 15px;
        padding: 5px;
        margin: 1em;
    }

    /* activities */
    .theatre {
        flex-wrap: wrap;
    }

    /* guide */

    .guide--card {
        padding: 1em;
        width: 350px;
        color: #1D3557;
        display: flex;
    }
    
    .profile-pic {
        width: 380px;
        height: 200px;
        margin-top: .5em;
    }
    .guide--desc h2 {
        font-size: 17px;
    }
    
    .guide--desc p{
        font-size: 16px;
    }
    
    .guide--desc h4{
        padding: 1em 0;
    }
}
body{
    background: rgb(253, 253, 253);
}
footer{
    width: 100%;
    bottom: 0;
    background: linear-gradient(to left, #2d0b00, #4a425a);
    color:#fff ;
    padding: 30px 0 20px;
    border-top-left-radius: 75px;
    font-size: 16px;
    line-height: 20px;
    
}
.row{
    width: 85;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}
.col{
    flex-basis:25%;
    padding: 10px;
}
.col ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: linear-gradient(to left, #2d0b00, #ffffff);
    display: block;
    margin: auto;
    margin-left: 2px;
    transition: 0.5s;
    font-size: large;
    
}
.col ul li:hover::after{
    width: 30%;
    
}
.col:nth-child(2),.col:nth-child(3){
    flex-basis: 15%;

}
.logo{
    width: 200px;
    margin-bottom: 30px;
}
.col h3{
    width: fit-content;
    margin-bottom: 30px;
    position: relative;
}
.email{
    
    width: fit-content;
    border-bottom: 1px solid #ffffff;
    margin: 20px 0;
}
.email a{
    text-decoration: solid;
    color: #7585fb;
}

ul li{
    list-style: none;
    margin-bottom: 12px;
}
ul li a{
    text-decoration: none;
    color: #ccc;
}
form{
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
}
form .far{
    font-size: 18px;
    margin-right: 10px;
}
form input{
    width: 100%;
    background: transparent;
    color: #ccc;
    border: 0;
    outline: none;
}
form button{
    background: transparent;
    border: 0;
    outline: 0;
    cursor: pointer;
}
form button .fas{
    font-size: 16px;
    color: #ccc;
}
.social-icons .fab{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #000;
    background: #fff;
    margin-right: 15px;
    cursor: pointer;


}
hr{
    width:90% ;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
}
.copyright{
    text-align: center;
}
.underline{
   width: 100%;
   height: 5px;
   background:#767676 ;
   border-radius: 3px;
   position: absolute;
   top: 25px;
   left: 0;
   overflow: hidden;

}
.underline span{
    width: 15px;
    height: 100%;
    background: #fff;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite;
}
@keyframes moving{
    0%{
        left: -20px;

    }
    100%{
        left: 100%;
        
    }
}
@media (max-width: 700px){
    footer{
        bottom: unset;
    }
    .col{
        flex-basis:100%;
       
    }
    .col:nth-child(2),.col:nth-child(3){
        flex-basis: 100%;
    
    }
}