body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image:  url(../images/background.jpg);
    background-size:cover ;
    background-position: center;
    
}

.container {
    max-width: 400px;
    margin: 100px auto;
    background: rgba(255, 255, 255, 0.3); 
    backdrop-filter: blur(6px); 
    padding: 20px;
    border-radius: 12px;
    
}


h2 {
    margin-top: 0;
    text-align: center;
    color: rgb(0, 0, 0);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    color: rgb(0, 0, 0);
}

input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.3); 
    backdrop-filter: blur(20px); 
    
}

button {
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #5aa731;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #5aa731;
}
